In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as slt
import seaborn as sns

In [8]:
df = pd.read_csv('./Top2000CompaniesGlobally.csv')
df.head(10)

,Global Rank,Company,Sales ($billion),Profits ($billion),Assets ($billion),Market Value ($billion),Country,Continent,Latitude,Longitude
0,1,ICBC,134.8,37.8,2813.5,237.3,China,Asia,35.861660,104.195397
1,2,China Construction Bank,113.1,30.6,2241.0,202.0,China,Asia,35.861660,104.195397
2,3,JPMorgan Chase,108.2,21.3,2359.1,191.4,USA,North America,37.090240,-95.712891
3,4,General Electric,147.4,13.6,685.3,243.7,USA,North America,37.090240,-95.712891
4,5,Exxon Mobil,420.7,44.9,333.8,400.4,USA,North America,37.090240,-95.712891
5,6,HSBC Holdings,104.9,14.3,2684.1,201.3,UK,Europe,55.378051,-3.435973
6,7,Royal Dutch Shell,467.2,26.6,360.3,213.1,The Netherlands,Europe,52.132633,5.291266
7,8,Agricultural Bank of China,103.0,23.0,2124.2,150.8,China,Asia,35.861660,104.195397
8,9,PetroChina,308.9,18.3,347.8,261.2,China,Asia,35.861660,104.195397
9,9,Berkshire Hathaway,162.5,14.8,427.5,252.8,USA,North America,37.090240,-95.712891

In [9]:
df.isnull().sum()

Global Rank                0
Company                    0
Sales ($billion)           0
Profits ($billion)         0
Assets ($billion)          0
Market Value ($billion)    0
Country                    0
Continent                  0
Latitude                   0
Longitude                  0
dtype: int64

In [10]:
df.shape

(1924, 10)

In [11]:
df.describe()

,Global Rank,Sales ($billion),Profits ($billion),Assets ($billion),Market Value ($billion),Latitude,Longitude
count,1924.000000,1924.000000,1924.000000,1924.000000,1924.000000,1924.000000,1924.000000
mean,997.232848,19.265904,1.226040,79.507796,19.558160,34.618747,15.455664
std,575.502781,34.683911,3.413831,261.098775,32.957023,18.259499,92.639655
min,1.000000,0.000000,-24.500000,1.000000,0.000000,-40.900557,-106.346771
25%,500.750000,4.100000,0.300000,9.675000,5.300000,35.861660,-95.712891
50%,997.500000,9.000000,0.600000,19.250000,9.600000,37.090240,10.451526
75%,1494.250000,18.425000,1.200000,45.800000,19.200000,40.463667,105.318756
max,1999.000000,469.200000,44.900000,3226.200000,416.600000,61.924110,174.885971

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1924 entries, 0 to 1923
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Global Rank              1924 non-null   int64
 1   Company                  1924 non-null   object
 2   Sales ($billion)         1924 non-null   float64
 3   Profits ($billion)       1924 non-null   float64
 4   Assets ($billion)        1924 non-null   float64
 5   Market Value ($billion)  1924 non-null   float64
 6   Country                  1924 non-null   object
 7   Continent                1924 non-null   object
 8   Latitude                 1924 non-null   float64
 9   Longitude                1924 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 150.4+ KB

In [13]:
df.columns

Index(['Global Rank', 'Company', 'Sales ($billion)', 'Profits ($billion)',
       'Assets ($billion)', 'Market Value ($billion)', 'Country', 'Continent',
       'Latitude', 'Longitude'],
      dtype='object')

In [14]:
tdf=df.drop(columns=['Latitude','Longitude'], axis=1)
tdf.head(20)

,Global Rank,Company,Sales ($billion),Profits ($billion),Assets ($billion),Market Value ($billion),Country,Continent
0,1,ICBC,134.8,37.8,2813.5,237.3,China,Asia
1,2,China Construction Bank,113.1,30.6,2241.0,202.0,China,Asia
2,3,JPMorgan Chase,108.2,21.3,2359.1,191.4,USA,North America
3,4,General Electric,147.4,13.6,685.3,243.7,USA,North America
4,5,Exxon Mobil,420.7,44.9,333.8,400.4,USA,North America
5,6,HSBC Holdings,104.9,14.3,2684.1,201.3,UK,Europe
6,7,Royal Dutch Shell,467.2,26.6,360.3,213.1,The Netherlands,Europe
7,8,Agricultural Bank of China,103.0,23.0,2124.2,150.8,China,Asia
8,9,PetroChina,308.9,18.3,347.8,261.2,China,Asia
9,9,Berkshire Hathaway,162.5,14.8,427.5,252.8,USA,North America
10,11,Bank of China,98.1,22.1,2033.8,131.7,China,Asia
11,12,Wells Fargo,91.2,18.9,1423.0,201.3,USA,North America
12,13,Chevron,222.6,26.2,233.0,232.5,USA,North America
13,14,Volkswagen Group,254.0,28.6,408.2,94.4,Germany,Europe
14,15,Wal-Mart Stores,469.2,17.0,203.1,242.5,USA,North America
15,15,Apple,164.7,41.7,196.1,416.6,USA,North America
16,17,Gazprom,144.0,40.6,339.3,111.4,Russia,Europe
17,18,BP,370.9,11.6,301.0,130.4,UK,Europe
18,19,Citigroup,90.7,7.5,1864.7,143.6,USA,North America
19,20,Petrobras,144.1,11.0,331.6,120.7,Brazil,South America

In [15]:
tdf =df.loc[df['Country']=='China']
tdf.head(20)

,Global Rank,Company,Sales ($billion),Profits ($billion),Assets ($billion),Market Value ($billion),Country,Continent,Latitude,Longitude
0,1,ICBC,134.8,37.8,2813.5,237.3,China,Asia,35.86166,104.195397
1,2,China Construction Bank,113.1,30.6,2241.0,202.0,China,Asia,35.86166,104.195397
7,8,Agricultural Bank of China,103.0,23.0,2124.2,150.8,China,Asia,35.86166,104.195397
8,9,PetroChina,308.9,18.3,347.8,261.2,China,Asia,35.86166,104.195397
10,11,Bank of China,98.1,22.1,2033.8,131.7,China,Asia,35.86166,104.195397
25,26,Sinopec-China Petroleum,411.7,10.1,200.0,106.9,China,Asia,35.86166,104.195397
52,54,Bank of Communications,43.5,9.4,846.4,56.7,China,Asia,35.86166,104.195397
79,83,Ping An Insurance Group,51.1,3.2,456.2,57.0,China,Asia,35.86166,104.195397
96,101,China Merchants Bank,28.4,7.3,547.0,44.1,China,Asia,35.86166,104.195397
101,106,China Life Insurance,63.2,1.8,304.6,79.9,China,Asia,35.86166,104.195397
102,107,China Minsheng Banking,27.9,6.1,515.5,43.9,China,Asia,35.86166,104.195397
110,115,China Shenhua Energy,39.7,7.7,70.2,70.8,China,Asia,35.86166,104.195397
120,125,Shanghai Pudong Development,25.4,5.4,504.5,31.6,China,Asia,35.86166,104.195397
122,128,China Citic Bank,24.4,4.9,474.7,32.5,China,Asia,35.86166,104.195397
132,139,China Telecom,44.9,2.4,87.4,42.0,China,Asia,35.86166,104.195397
136,142,Industrial Bank,18.7,4.1,382.3,38.2,China,Asia,35.86166,104.195397
158,167,SAIC Motor,75.0,3.3,48.1,26.7,China,Asia,35.86166,104.195397
196,206,China State Construction,76.7,2.2,79.9,16.9,China,Asia,35.86166,104.195397
215,226,People's Insurance Company,41.3,1.1,110.5,24.4,China,Asia,35.86166,104.195397
230,240,China Everbright Bank,13.5,2.9,275.1,21.0,China,Asia,35.86166,104.195397

In [16]:
tdf= df.groupby(['Company'])['Market Value ($billion)'].sum()
tdf.head(20)

Company
3M               73.4
77 Bank           2.0
A2A               1.9
ADT              11.5
AES               9.3
AGCO              5.3
AGL Energy        9.5
AIA Group        53.5
ALFA             12.7
AMEC              4.8
AMP              16.0
AMR               1.3
ANZ              81.2
AOL               2.6
ARM Holdings     19.6
ASML Holding     28.9
AT&T            200.1
AU Optronics      3.8
AXA Group        45.3
Aareal Bank       1.4
Name: Market Value ($billion), dtype: float64